*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.075em 6vw;
  color: #fff;
  font-size: 1.5em;
}

.navbar-bottom {
  position: absolute;
  top: 6.22em;
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
  gap: .25em;
  background-color: #000;
  color: white;
  border-top: 1px solid gray;
  
}

.navbar-bottom p {
    padding: 0.5em 0;
    font-size: 1.5em;
    line-height: 1.5;
    color: rgb(241, 241, 241);
    width: 50vw;
    text-align: center;
}

.navbar-bottom p:first-of-type {
  border-bottom: 1px solid gray;
}

.bottom-nav-shown {
  display: flex;
}

.light-gray {
  background-color: rgb(12, 14, 17);
}

a {
  text-decoration: none;
  color: #fff;
}

.bxl-steam {
  font-size: 1.5em;
}

.bx-menu {
  font-size: 2em;
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s;
}

.logo-container {
  gap: 15px;
}

.separator {
  width: 2px;
  background-color: white;
  height: 30px;
}

.separator + a:hover {
    text-decoration: underline;
}

a.logo:hover {
  color: rgba(255, 255, 255, 0.719);
}

.button {
  padding: 0.5em 1.25em;
  border-radius: 7.5px;
}

.button-sign {
  background-color: #4c5fd5;
  margin-left: 10px;
}

.button-request {
  background-color: rgba(42, 43, 48, 0.801);
  border: 1px solid #fff;

}

.button-sign:hover {
  background-color: #fff;
  color: rgb(84, 84, 84);
  transition: color 0.2s, background-color 0.2s;
}

/* header styles */

header {
    margin: 0 auto;
    padding: 5em 1em;
    background-color: #dadbf1;
}

.content {
  text-align: center;
  max-width: 720px;
  margin: 2em auto;
}
.content h1 {
    font-size: 4.5em;
    font-weight: 500;
    letter-spacing: -1px;
}

.search-box {
  position: relative;
  margin-top: 2em;
}

input#search {
  padding: 1em;
  width: 100%;
  font-size: 1.25em;
  border-radius: 5px;
  outline: none;
  border: 1px solid;
}

.search-box .arrow-svg {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
}


/* main content styles */

main {

}

.main-content {
  width: 80%;
  margin: 5em auto;
  margin-top: 10em;
  display: flex;
  gap: 4vw;
}

section {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.row {
  display: flex;
  gap: 5em;
}

.component {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
  flex: 1;
}

.component-img {
  flex: 1;
  min-width: 70px;
  /* max-width: 100px; */
}

.component-text {
  flex: 4;
}

.component-text p {
  margin: 0.75em 0;
  font-size: 1.5em;
  line-height: 1.5;
  color: rgb(65, 65, 65);
}

.component-text h3 {
  color: #000;
  font-weight: bold;
  font-size: 1.55em;
}

.component-text a {
  color: #4c5fd5;
  font-size: 1.25em;
}

.component-text a:hover {
  text-decoration: underline;
}

.component-text .bx-right-arrow-alt {
  font-size: 2em;
  margin-bottom: -15px;
}

/* mobile */  

@media screen and (min-width: 1080px) {
  .navbar-bottom {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .buttons {
    display: none;
  }

  .bx-menu {
    display: block;
  }

  .row {
    flex-direction: column;
  }

}


@media screen and (max-width: 720px) {
  .content h1 {
    font-size: 3.5em;
    letter-spacing: -1px;
    /* font-weight: 500; */
}

}

@media screen and (max-width: 480px) {
  .navbar span {
    display: none;
  }

  .content h1 {
    font-size: 2.5em;
    letter-spacing: -2px;
    /* font-weight: 500; */
}
}
